body {
  background-color: black;
}

#my-table {
  border-collapse: collapse;
  width: 100%;
}

#my-table th,

td {
  border: 2px solid white;
   width: 20px; /* Set desired square size */
   height: 50px; /* Same value as width for a square cell */
  padding: 8px;
}

.aRow {
  border: 2px solid black;
  text-align: left;
}

tr {
  border: 2px solid black;
  text-align: left;
}

.deadCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue; /* Customize color */
  margin: auto; /* Center the circle within the td */
}

.aliveCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white; /* Customize color */
  margin: auto; /* Center the circle within the td */
}